__pycache__/
*.pyc
.env
*.sqlite3
postgres_data/


# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
venv/
env/
.venv/
.env/

# Django
*.sqlite3
*.log
media/
staticfiles/
db.sqlite3
local_settings.py

# Docker
*.log
*.pid
docker-compose.override.yml
**/Dockerfile.*

# IDEs / Editors
.vscode/
.idea/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# macOS
.DS_Store

# Node (if any frontend)
node_modules/
dist/
